.sectionEmpresa {
  @include f4b-disp-simple(flex, row);

  @media (max-width: 800px) {
    @include f4b-disp-simple(flex, column);
  }
  img {
    @media (max-width: 800px) {
      margin-bottom: 50px;
      margin-top: 90px;
    }
  }
  ul {
    @include f4b-disp-full(flex, column, center, center);
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  h2 {
    text-align: center;
    animation: lightSpeedInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
}
