.sectionEmpresa {
  @include f4b-disp-simple(flex, row);
  margin: 5%;
  @media (max-width: 800px) {
    @include f4b-disp-simple(flex, column);
    margin: 5%;
  }
  img {
    @media (max-width: 800px) {
      margin-bottom: 50px;
      margin-top: 130px;
    }
  }
  ul {
    @include f4b-disp-full(flex, column, center, center);
    list-style: none;
  }
  h2 {
    width: 600px;
    text-align: center;
    animation: lightSpeedInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
}
